body {
    background-color: #22313a;
    color: #ffe2c0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.overlaphead{
  margin-top: -6.7rem;
}
.header {
    overflow: hidden;
    background-color: #1e2a31;
    line-height: 0;
    padding: 10px 18px 30px;
}
.header a {
  float: left;
  color: #646361;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
.header a.logo {
  padding: 5px 0 30px;
  background-color: transparent;
}
.header a.active {
  border: 2px solid #11b988;
  color: #009b6e;
}
.header-right {
  float: right;
  padding: 12px 0;
}
.header-right a{
  border: 2px solid rgba(100, 99, 97, 0.05);
  margin: 0 0 0 10px;
}
.header-right a.avatar{
  border: 0;
  margin: 0;
  padding: 9px 0 9px 15px;
}
.avatar span{
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: -20px 0;
  display: inline-block;
  overflow: hidden;
}
.avatar span img{
  display: block;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}
header{
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
    background-color: #2b3c46;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    padding: 15px !important;
    position: relative;
    border-top-right-radius: 100px;
    background-color:rgba(253, 126, 20, 0.13);
    cursor: pointer;
}
header h1{
  color: #aa7528;
  font-size: 2rem !important;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
}
header.active{
  background: rgba(253, 126, 20, 0.3);
  border-left: 2px solid #ffa828;
}
header.active h1{
  color: #ffa828;
}
/* header h1:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  content: '';
  border-top: 2px solid #8bc34a;
  border-left: 2px solid #8bc34a;
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
}
header h1:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  content: '';
  border-bottom: 2px solid #8bc34a;
  border-right: 2px solid #8bc34a;
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
} */

/* Main Tab
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab-section{
  background: #1e2a31;
  padding: 30px 15px;
}
label u{
  color: #02a8f5;
  font-size: 10px;
  font-style: italic;
  padding: 0 5px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 1.5rem;
}
form .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffca7d;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #7f581e;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form .form-control + span{
  font-size: 12px;
  color: #f3aa3a;
}
form .form-control + span pre{
  font-size: 10px;
  color: #d49331;
  margin: 0;
}
form label{
  font-size: 14px;
}
form u{
  color: #02a8f5;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
}
form .infodata{
  background-color: rgba(255,193,7,.12549);
    border-left: 2px solid rgba(255,193,7,.12549);
    float: left;
    width: auto;
    color: #ffe2c0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 20px 0;
    outline: none;
    padding: 10px 15px;
}
form .infodata span{
  color: #ffca7d;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  color:#7f581e;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  color:#7f581e;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  color:#7f581e;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  color:#7f581e;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #ffca7d;
  padding-right: 20px;
  margin-bottom: 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ffe2c0;
    border-radius: 100%;
    background: #ffe2c0;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #aa7528;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
input[type=text], input[type=number], select {
  margin: 2px 0;
  box-sizing: border-box;
  font-size: 14px;
}
input:focus, select:focus {
  color: #ffd79e !important;
  border-color: #ffa828 !important;
  outline: none !important;
  background-color:transparent !important;
  box-shadow: none !important;
}
.btn-group{
  display: flow-root;
}
button:focus{
  outline: none;  
}
.btn-group button {
  background-color: #646361;
  border: 0;
  color: #ffffff;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  margin: 0 0 0 11px;
}
.btn-group button[type=button]{
  color: #dcf3ff;
  background-color: #445d6b;
}
.btn-group button[type=submit]{
  background-color: #c9802a;
}
.tooltip {
  position: relative;
  display: inline-block;
  background: #1e2a31;
  color: #ffe2c0;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  line-height: 15px;
  text-align: center;
  font-size: 10px;
  vertical-align: text-bottom;
  margin: 2px 5px;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #1e2a31;
  color: #ffe2c0;
  text-align: left;
  border-radius: 4px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 17px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}




/* media queries for responsiveness */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.nav-pills-custom .nav-link {
  color: #aa7528;
  background: #2b3c46;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #ffffff;
  background: #965f1e;
  background: linear-gradient(to right, #c9802a, #965f1e);
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #965f1e;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.tab-content .tab-pane{
  padding: 15px 30px 30px;
  background-color: #2b3c46;
}
.datepicker td, .datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.datepicker {
  margin-bottom: 3rem;
}
.datepicker input[type=text] + div{
  margin:2px -1px 0;
}
.datepicker input[type=text] + div span{
  color: #ffffff;
  background-color: #7f581e;
  border: 1px solid #7f581e;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{
  background-image: linear-gradient(to bottom, #ffa828, #c9802a);
}
.slider-container.theme-green{
  margin: 30px 0 50px;
}
.slider-container.theme-green .scale ins {
    font-size: 12px;
    color: #ffca7d;
    left: -4px;
    top: 10px;
}
.slider-container.theme-green .clickable-dummy {
  background: #aa7528;
}
.slider-container.theme-green .back-bar .pointer {
  background-image: linear-gradient(to bottom, #7f581e, #7f581e);
 }
.slider-container.theme-green .back-bar .pointer-label {
  top: -31px;
  font-size: 12px;
  background: #c9802a;
  color: #ffffff !important;
  padding: 4px;
  margin: 0 -3px;
}

.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  max-width: 700px;
  height: 170px;
  margin: 0 0 50px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 170px;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: rgba(253, 126, 20, 0.13);
  animation: draw 1s ease-in-out;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

@keyframes draw {
  0% {
    height: 0;
  }
}


.w100{
  width: 100%;
}